{% extends 'Home/base.html' %}

{% block content %}
  <h2>Hello {{ request.user.student.name }}</h2>
  <div class="row">
  {% for ass in ass_list %}
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{ass.course.id}}</h5>
          <h5 class="card-title">{{ass.course.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ass.teacher}}</h6>
          <a class="btn btn-secondary text-white" href="{% url 'attendance_detail' request.user.student.roll_number ass.course.id %}" role="button">Attendance</a>
          <a class="btn btn-secondary text-white" href="{% url 'assignment_detail' request.user.student.roll_number ass.course.id %}" role="button">Assignment</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}